.s-link {
  &-default {
    color: #0f1423;
    font-size: 15px;
    &:hover {
      color: #96c24e;
      cursor: pointer;
      &.is-disabled {
        color: #a1a3a7;
        &:hover {
         cursor: not-allowed;
         text-decoration: none;
        }
      }
    }
  }
  &-primary {
    color: #1772b4;
    &:hover {
      color: #91b3cf;
      cursor: pointer;
    }
    &.is-disabled {
      color: #91b3cf;
      &:hover {
       cursor: not-allowed;
       text-decoration: none;
      }
    }
  }
  &-success {
    color: #41ae3c;
    &:hover {
      color: #b9dec9;
      cursor: pointer;
    }
    &.is-disabled {
      color: #b9dec9;
      &:hover {
       cursor: not-allowed;
       text-decoration: none;
      }
    }
  }
  &-info {
    color: #9fa39a;
    &:hover {
      color: #cad3c3;
      cursor: pointer;
    }
    &.is-disabled {
      color: #cad3c3;
      &:hover {
       cursor: not-allowed;
       text-decoration: none;
      }
    }
  }
  &-warning {
    color: #e2c027;
    &:hover {
      color: #f8d86a;
      cursor: pointer;
    }
    &.is-disabled {
      color: #f8d86a;
      &:hover {
       cursor: not-allowed;
       text-decoration: none;
      }
    }
  }
  &-danger {
    color: #ee3f4d;
    &:hover {
      color: #f1939c;
      cursor: pointer;
    }
    &.is-disabled {
      color: #f1939c;
      &:hover {
       cursor: not-allowed;
       text-decoration: none;
      }
    }
  }
}
.is-underline {
  text-decoration:none !important;
  &:hover {
    text-decoration:none;
  }
}
.is-expired {
  text-decoration: line-through;
  opacity: .5;
  &:hover {
    text-decoration: line-through !important;
  }
}