:root {
  font-size: 15px;
}
body {
  margin: 0;
  font-weight: bold;
}
.s-md{
  position: relative;
  margin-bottom: 20px;
  // z-index: -1;
  width: 100%;
  height: 90px;
  min-height: 100vh;
  background-color: #41ae3c;
  background-image: radial-gradient(closest-side,rgba(114,175,211,1),rgba(235,105,78,0)),
  radial-gradient(closest-side,rgba(0,158,253,1),rgba(243,11,164,0)),
  radial-gradient(closest-side,rgba(42,245,152,1),rgba(254,234,131,0)),
  radial-gradient(closest-side,rgba(249,245,134,1),rgba(170,142,245,0)),
  radial-gradient(closest-side,rgba(150,251,196,1),rgba(248,192,147,0));
  background-size: 130vmax 130vmax,
                  80vmax 80vmax,
                  90vmax 90vmax,
                  110vmax 110vmax,
                  90vmax 90vmax;
  background-position:-80vmax -80vmax,
                      60vmax -30vmax,
                      10vmax 10vmax,
                      -30vmax -10vmax,
                      50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 10s movement linear infinite;
  
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -2;
    width: 200px;
    height: 100px;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
@keyframes movement {
  0%,100% {
    background-size: 130vmax 130vmax,
                80vmax 80vmax,
                90vmax 90vmax,
                110vmax 110vmax,
                90vmax 90vmax;
    background-position:-80vmax -80vmax,
                    60vmax -30vmax,
                    10vmax 10vmax,
                    -30vmax -10vmax,
                    50vmax 50vmax;
  }
  25%{
    background-size: 130vmax 130vmax,
                100vmax 100vmax,
                90vmax 90vmax,
                100vmax 100vmax,
                60vmax 60vmax;
    background-position:-60vmax -90vmax,
                    50vmax -40vmax,
                    0vmax -20vmax,
                    -40vmax -20vmax,
                    40vmax 60vmax;
  }
  75% {
    background-size: 90vmax 90vmax,
                90vmax 90vmax,
                90vmax 90vmax,
                100vmax 100vmax,
                70vmax 70vmax;
    background-position:-50vmax -40vmax,
                    50vmax -30vmax,
                    20vmax 0vmax,
                    -10vmax 10vmax,
                    40vmax 60vmax;
  }
}
