.s-button {
  &-default {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e1e3e7;
    border-radius: 3px;
    font-weight: 400;
    color: #6f7174;
    transition: .2s;
  
    &:hover {
      background: #f0f9eb;
      border-color: #8cc269;
      color: #96c24e;
    }
  }
  
  &-primary {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: #1772b4;// 群青
    border: 1px solid #e1e3e7;
    border-radius: 3px;
    font-weight: 400;
    color: #fff;
    transition: .2s;

    &:hover {
      background: #91b3cf;
      color: #fff;
    }
  }
  
  &-success {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: #41ae3c;// 宝石绿
    border: 1px solid #e1e3e7;
    border-radius: 3px;
    font-weight: 400;
    color: #fff;
    transition: .2s;

    &:hover {
      background: #b9dec9;
      color: #fff;
    }
  }

  &-info {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: #9fa39a;// 镍灰
    border: 1px solid #e1e3e7;
    border-radius: 3px;
    font-weight: 400;
    color: #fff;
    transition: .2s;

    &:hover {
      background: #cad3c3;
      color: #fff;
    }
  }

  &-warning {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: #e2c027;// 姜黄色
    border: 1px solid #e1e3e7;
    border-radius: 3px;
    font-weight: 400;
    color: #fff;
    transition: .2s;

    &:hover {
      background: #f8d86a;
      color: #fff;
    }
  }

  &-danger {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: #ee3f4d;// 茶花红
    border: 1px solid #e1e3e7;
    border-radius: 3px;
    font-weight: 400;
    color: #fff;
    transition: .2s;

    &:hover {
      background: #f1939c;
      color: #fff;
    }
  }

}
.is-round {
  border-radius: 20px ;
}
.is-circle {
  width: 40px;
  border-radius: 100% !important;
}

  
  

